/* Common style */
body {
  font-family: 'Roboto', sans-serif;
}
header, main, footer {
  position: relative;
}
strong {
  font-weight: bold;
}
.display-none {
  display: none;
}
.pull-left {
  float: left;
}
.flex {
  display: flex;
}
.full-width {
  width: 100%;
}
.no-margin {
	margin: 0!important;
}
.no-padding {
	padding: 0!important;
}
/* Style for header */
.header {
	width: 100%;
	z-index: 9;
}
.dropdown-menu {
  border-radius: unset;
  margin: 0;
  padding: 0;
  border: none;
  background: rgba(255,255,255,0.95);
}
.dropdown-item:hover {
  background: transparent;
}
.header a {
  font-size: 14px;
  font-weight: 500;
}
/* Style for footer */
.footer {
  background-color: #181818;
  margin-bottom: -30px;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
}
.footer a {
  font-weight: 300;
  color: #fff;
}
.footer a:hover {
  text-decoration: none;
  color: #00AEEF;
}
.footer-widget {
  margin-bottom: 30px;
}
.footer-title {
  margin-bottom: 17px;
}
.footer-title h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}
.footer-menu li {
  line-height: 14px;
  margin-bottom: 10px;
}
.footer-sub-menu {
  margin-top: 10px;
  margin-left: 20px;
}
.contact-menu i {
  margin-right: 10px;
}
.copyright {
  background-color: #000000;
  border-top: 1px solid #00243f;
  padding-top: 30px;
  padding-bottom: 25px;
  color: #fff;
  font-weight: 300;
}
.copyright p {
  margin-bottom: 0;
}
#back-to-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 24px!important;
  z-index: 999;
  transition: none;
  border-radius: 4px;
  display: flex;
  background-color: #00AEEF;
  border: 1px solid #00AEEF;
  opacity: 0;
}
#back-to-top:hover, #back-to-top:focus{
	box-shadow: inset 0 0 0;
	background: #30c7ff;
}
#back-to-top.show {
  opacity: 1;
}
/* Style for banner */
.banner {
	background: #aaa;
}
.carousel-item {
  height: 657px;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
}
.lead {
	font-family: 'Cabin', sans-serif;
	background-color: rgb(247, 148, 29);
	font-weight: 700;
	margin: 0px;
	border-radius: 3px;
  padding: 4px 16px;
  line-height: 4vw;
  letter-spacing: 0.2vmin;
  font-size: 2vw;
}
.carousel-caption {
	left: auto;
	right: auto;
  width: 100%;
  bottom: 50px;
  display: block !important;
  animation-name: caption;
  animation-duration: 1s;
}
@keyframes caption {
  from {bottom: -20px;}
  to {bottom: 50px; visibility: visible;}
}
.item-center {
	display: flex;
	justify-content: center;
}
.carousel-control {
	width: 5%;
}
.carousel-control-icon {
	background: rgba(0,0,0,0.9);
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}
.carousel-indicators li {
	transition: opacity 0.3s ease;
	width: 13px;
	height: 13px;
	border: 2px solid #ffffff;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0);
	opacity: 1;
	background-clip: unset;
	position: relative;
	text-indent: 0;
}
.image-content {
	position: absolute;
	bottom: 13px;
	left: -60px;
	width: 135px;
	height: 60px;
	border-radius: 4px;
	margin-bottom: 10px;
	align-items: center;
	display: none;
  background: no-repeat center center scroll;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
}
.image-content span {
	width: 100%;
	text-align: center;
	color: #fff;
}
.carousel-indicators li:hover .image-content {
	display: flex;
}
.carousel-indicators .active, .carousel-indicators li:hover {
	background-color: #fff;
}
/* Style for main body */
/* Style for tipycal section */
.tipycal-section {
  text-align: center;
	background: #f5f5f5;
}
.colume-block {
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
}
.block-inner {
  position: absolute;
  top: 0;
  width: 200%;
  height: 100%;
  transition: 1s;
	margin-right: 0;
	margin-left: 0;
}
.colume-block:hover .block-inner {
	transform: translateX(-50%);
}
.block-content {
	background: rgba(0, 0, 0, 0.4);
	position: relative;
}
.block-title {
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
}
.block-show {
	height: 100%;
	overflow: scroll;
	padding: 15px 20px;
	background: rgba(255, 255, 255, 0.9);
}
.block-image {
  width: 100%;
  height: auto;
}
.block-content .team-name {
  color: #fff;
}
.block-show .team-name {
  color: #000;
}
.block-inner a:hover {
	text-decoration: none;
	color: #00aeef;
}
.block-social a {
	color: #fff;
}
.module-title {
	padding-top: 55px;
	padding-bottom: 30px;
}
.module-title h2 {
	font-size: 24px;
	line-height: 32px;
	margin: 0 0 10px 0;
	font-weight: 500;
	text-transform: inherit;
	text-align: inherit;
}
.module-title p {
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	text-transform: inherit;
	text-align: inherit;
}
.team-name {
	font-weight: 700;
	margin: 0 0 8px;
}
.team-designation {
	font-weight: 400;
}
.team-description {
	font-weight: 300;
	margin: 15px 0 20px;
}
/* Style for services section */
.service-section {
	text-align: center;
	background: url('/images/houzez-header-4.jpg');
}
.service-title {
	padding-top: 55px;
	color: #fff;
}
.service-title h2 {
	font-size: 24px;
	line-height: 32px;
	margin: 0 0 10px 0;
	font-weight: 500;
	text-transform: inherit;
	text-align: inherit;
}
.service-title p {
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	text-transform: inherit;
	text-align: inherit;
}
.service-column {
	padding: 40px 0 55px;
}
.service-block {
	background: #fff;
	padding: 0 30px 30px;
	transition: 0.2s;
	border: 1px solid #eee;
}
.service-block:hover {
	transform: translateY(-10px);
	box-shadow: 0 80px 60px rgba(0, 0, 0, 0.2);
	position: absolute;;
	z-index:2;
	border: none;
}
.service-image img {
	height: 150px;
	width: 150px;
	border-radius: 50%;
}
.service-content h3 {
	font-size: 20px;
	line-height: 28px;
}
.service-content .more {
	color: #00aeef;
}
.service-content .more:hover {
	text-decoration: none;
	color: #30c7ff;
}
/* Style for responsive */
/* Small and Medium devices (phones, tablets) */
@media only screen and (max-width: 991px) {
	.header {
		height: 62px;
		background: #00aeef;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.logo {
		display: flex;
		justify-content: center;
	}
	.logo img {
		height:24px;
	}
	.navbar {
		padding: 0;
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}
	.navbar-toggler {
		height: 62px;
		color: #fff;
		outline: 0 !important;
	}
	.menu-item {
		border-top: 1px solid #fff;
	}
	.nav-menu .menu-item:first-child {
		border-top: none;
	}
	.menu-item .nav-link{
		padding: 15px 23px;
		color: rgb(0, 66, 116);
		background: rgba(255, 255, 255, 0.95);
	}
	.nav-link:active {
		color: #fff;
		background: #00aeef;
	}
	.dropdown:hover .dropdown-toggle {
		background: #00aeef;
	}
	.dropdown-item {
		padding: 15px 23px;
		color: #fff;
		background: #30c7ff;
		border-bottom: 1px solid #fff;
	}
	.dropdown-toggle:after {
		float: right;
		margin: 10px 0;
	}
}
/* Small devices (phones, 767px and down) */
@media only screen and (max-width: 767px) {
	.content {
		padding: 25px;
		font-size: 12px;
		line-height: 22px;
	}
	.copyright {
		font-size: 12px;
		line-height: 22px;
		text-align: center;
	}
	.footer {
		padding: 45px 0 35px;
	}
	.team-name {
		font-size: 14px;
		line-height: 18px;
	}
	.team-designation {
		font-size: 12px;
		line-height: 16px;
	}
	.team-description {
    font-size: 12px;
    line-height: 20px;
	}
	.service-image {
		padding: 38px 0;
	}
	.service-content p {
		font-size: 12px;
    line-height: 20px;
	}
	.service-content .more {
		font-size: 12px;
    line-height: 12px;
	}
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.copyright {
		font-size: 14px;
		line-height: 24px;
		text-align: left;
	}
	.footer {
		padding: 100px 0 70px;
	}
	.team-name {
		font-size: 16px;
		line-height: 20px;
	}
	.team-designation {
		font-size: 14px;
		line-height: 18px;
	}
	.team-description {
    font-size: 14px;
    line-height: 23px;
	}
	.service-image {
		padding: 80px 0 70px;
	}
	.service-content p {
		font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    margin: 0 0 10px 0;
	}
	.service-content .more {
		font-size: 16px;
    line-height: 16px;
    font-weight: 400;
		margin: 0;
	}
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.header {
		position: absolute;
	}
	.logo {
		float: left;
		margin-top: -30px;
	}
	.logo img { width: 150px; }
	.navbar { margin: 25px 0;}
	.menu-item .nav-link {
		color: #fff;
		padding: 0 15px;
	}
	.dropdown:hover .dropdown-menu {
		display: block;
	}
	.dropdown-item {
		width: 250px;
		border-bottom: 1px solid #e6e6e6;
	}
	.dropdown-menu .dropdown-item {
		color: #2e3e49;
		padding: 15px;
	}
	.navbar a:hover {
		color: #00AEEF;
	}
}
/* Laptop devices ( 992px -> 1200px) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.social-contact {
		width: 300px;
		overflow: hidden;
	}
}
